<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service History Form</title>
    <link rel="stylesheet" href="/static/service_history_form.css">
</head>
<body>
    <h1>Enter Your Customer ID to View Service History</h1>
    <form action="{{ url_for('view_service_history') }}" method="POST">
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" required>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>